<a href="https://colab.research.google.com/github/sejallotliker/MLnow_2.0/blob/main/ML_EDA_Students_performance_in_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine learning

Exploratory data analysis

Author: `Sejal Lotliker`

Date: `07-06-21`

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import os

In [12]:
path='/content/drive/MyDrive/Machine learning course by Girlscript/ML_EDA_Students performance in exam/StudentsPerformance.csv'
my_data=my_data=pd.read_csv(path)

In [13]:
my_data.head(10)

   gender   groups  ... reading score writing score
0  female  group B  ...            72            74
1  female  group C  ...            90            88
2  female  group B  ...            95            93
3    male  group A  ...            57            44
4    male  group C  ...            78            75
5  female  group B  ...            83            78
6  female  group B  ...            95            92
7    male  group B  ...            43            39
8    male  group D  ...            64            67
9  female  group B  ...            60            50

[10 rows x 8 columns]

In [14]:
ls

drive/  sample_data/

#Data Processing

In [16]:
print(f'gender:{my_data.gender.unique()}')
print(f'groups:{my_data.groups.unique()}')
print(f'parentsEducation:{my_data.parentsEducation.unique()}')
print(f'lunch:{my_data.lunch.unique()}')
print(f'test_preparation_course:{my_data.test_preparation_course.unique()}')

gender:['female' 'male']
groups:['group B' 'group C' 'group A' 'group D' 'group E']
parentsEducation:["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
lunch:['standard' 'free/reduced']
test_preparation_course:['none' 'completed']